data/world-livable-atlas/raw/air_quality/V5GL04.HybridPM25.Global.nc filter=lfs diff=lfs merge=lfs -text
data/world-livable-atlas/raw/natural_disaster_risk/gdmhz.zip filter=lfs diff=lfs merge=lfs -text
data/world-livable-atlas/raw/natural_disaster_risk/gdmhzmrt.zip filter=lfs diff=lfs merge=lfs -text