:root {
  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --environment-color: #84994F;
  --social-color: #FFE797;
  --infrastructure-color: #FCB53B;
  --other-color: #A72703;
}

#root {
  min-height: 100svh;
}

body {
  margin: 20px;
}

.dashboard {
  max-width: 1000px;
  margin: 0 auto;
}